body {
    background-color: #567158;
}

.view-main {
    background-color: white;
    padding: 0px;
    min-height: 100vh;
    z-index: 0;
}

.header {
    background-color: #193720;
    color: lightgray;
}

.header a {
    color: lightgray;
    text-decoration: none;
}

.footer {
    background-color: #193720;
    color: lightgray;
    padding-top: 20px;
}

.footer sub-heading {
    font-size: 20px;
}

.hide_bullets {
    list-style: none;
    padding-left: 0px;
}

.image_logo_container {
    margin: auto;
    padding: 50px;
}

.text-centre {
    text-align: center;
}

.bg-screenshot {
    background: url("../images/background.PNG");
    background-size: 100% auto;
    filter: blur(4px);
    display: block;
    height: 10vh;
}

.bg-screenshot-2 {
    background: url("../images/background.PNG");
    background-size: 100% auto;
    background-position-y: -10vh;
    filter: blur(4px);
    display: block;
    height: 10vh;
}