body {
    background-color: #567158;
}

.view-main {
    background-color: white;
    padding: 0px;
}

.header {
    background-color: #193720;
    color: lightgray;
}

.footer {
    background-color: #193720;
    color: lightgray;
    padding-top: 20px;
}

.footer sub-heading {
    font-size: 20px;
}

.hide_bullets {
    list-style: none;
    padding-left: 0px;
}